@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/**
 * NicJ theme for reveal.js.
 * Author: Nic Jansma
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #ffead3;
}

html.dark body {
  background-color: #030813;
}

.reveal {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #657b83; }

html.dark .reveal {
  color: #a5bBc2;
}

::selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 20px 0;
  color: #586e75;
  font-family: 'Open Sans', sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none; }

html.dark .callout {
  color: #FB436F;
}

html.dark .callout2 {
  color: #20a030;
}

html.dark .callout3 {
  color: #FDa808;
}

html.dark .callout4 {
  color: #238fdb;
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  /*background: rgba(255, 255, 255, 0.12); */
  border: 4px solid #657b83;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #268bd2; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #268bd2; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #268bd2; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #268bd2; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #78b9e6; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #78b9e6; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #78b9e6; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #78b9e6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #268bd2; }

reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  word-wrap: normal; }

.reveal blockquote {
  width: 90%;
  padding: 10px; }
.reveal li {
  margin-top: 20px; }
.reveal section img {
  border: none;
  box-shadow: none; }
.reveal pre code {
  max-height: 700px; }
  .reveal pre code .javascript, .reveal pre code .xml, .reveal pre code .html {
    opacity: 1; }
.reveal table td, .reveal table th {
  border-bottom: 1px solid #ccc; }
